<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Get Started</h2>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane">
				<h3>2nd through 4th grade</h3>
				<p>In Explore, teams of students ages 6-10 focus on the fundamentals of engineering as they explore real-world problems, learn to design and code, and create unique solutions made with LEGO bricks and powered by LEGO® Education WeDo 2.0.</p>
			</li>
			<li class="icon fa-child">
				<h3>5th through 8th grade</h3>
				<p>Friendly competition is at the heart of Challenge, as teams of students ages 9-16 engage in research, problem-solving, coding, and engineering - building and programming a LEGO robot that navigates the missions of a robot game.</p>
			</li>
			<li class="icon fa-computer">
				<h3>High School</h3>
				<p>FIRST Tech Challenge (FTC) students learn to think like engineers. Teams design, build, and code robots to compete in an alliance format against other teams. Robots are built from a reusable platform, powered by Android technology, and can be coded using a variety of levels of Java-based programming.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Add something else?</h3>
				<p>Can put another section here.</p>
			</li>
		</ul>
	</div>
</section>