{% if page.team %}
{% assign tiers=site.data.[page.team] %}
<div class="columns is-multiline">
    {% for tier in tiers %}
    <div class="column is-12">
        <p class="title is-3 has-text-centered">
            <span>{{ tier.tier_name }}</span>
        </p>
        <div class="columns is-centered">
            <div class="column is-6 content has-text-centered">
                <p>{{ tier.description | markdownify }}</p>
            </div>
        </div>
        <div class="columns is-multiline is-centered">
            {% for member in tier.members %}
            <div class="column {% if tier.size == 'large' %} is-4-desktop is-6-tablet {% else %} is-3-desktop is-4-tablet {% endif %}">
                <div class="box has-text-centered">
                    <p style="font-size: 1.3rem" class="title {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                        <strong style="font-weight: 800">{{ member.name }}</strong>
                            {% if tier.tier_name == "Team Members" %}
                                {% if member.captain %}
                                <br><strong style="font-weight: 400">☆️ Team Captain ☆️</strong>
                                {% else %}
                                <br><strong style="font-weight: 400">Team Member</strong>
                                {% endif %}

                                <br><strong style="font-weight: 400; font-size: 1.1rem">Class of '{{member.year️}}</strong>
                            {% endif %}

                            {% if tier.tier_name == "Mentors and Coaches" %}
                                <br><strong style="font-weight: 400">{{member.role}}</strong>
                            {% endif %}
                    </p>
                    {% if member.image %}
                    <img  src= {{ member.image }} alt=" " style="max-height: 26rem;">
                    {% else %}
                    &nbsp;
                    {% endif %}
                    <p class="subtitle is-6">
                    <p>{{ member.bio }}</p>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column is-12">
        <hr />
    </div>
    {% endfor %}
</div>
{% endif %}
