@charset "utf-8";
@font-face {
    font-family: 'Dongle';
    src: url('/assets/fonts/Dongle-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    src: url('/assets/fonts/Dongle-Light.ttf') format('truetype'); /* Safari, Android, iOS */
    src: url('/assets/fonts/Dongle-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'DM Sans', 'Dongle', 'Montserrat', sans-serif;
$primary: #5777a8 !default;
$secondary: #000000 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: #202020 !default;

@import "layout";
@import "syntax";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
  color: #ea4aaa;
}

