---
layout: page
---
{{ content }}

<div class='row'>
    {% for Video in site.data.videos %}
        {% if forloop.index > 4 %}
            {% break %}
        {% endif %}

        {% if Video.drive %}
            <iframe style="border: 0;" width="325" height="200" src="https://drive.google.com/file/d/{{ Video.Video }}/preview" title="{{ Video.description }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
            <iframe style="border: 0;" width="325" height="200" src="https://www.youtube.com/embed/{{ Video.Video }}" title="{{ Video.description }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
    {% endfor %}
</div>
